# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [24]:
df_slice = df.loc[:,'school':'guardian']

school      object
sex         object
age          int64
address     object
famsize     object
Pstatus     object
Medu         int64
Fedu         int64
Mjob        object
Fjob        object
reason      object
guardian    object
dtype: object

### Step 5. Create a lambda function that will capitalize strings.

In [21]:
capitalizer = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [34]:
# first convert the columns to strings
df_slice['Mjob'] = df_slice['Mjob'].astype('string')
df_slice['Fjob'] = df_slice['Fjob'].astype('string')

df_slice['Mjob'] = df_slice['Mjob'].apply(capitalizer)
df_slice['Fjob'] = df_slice['Fjob'].apply(capitalizer)

df_slice.dtypes

school      object
sex         object
age          int64
address     object
famsize     object
Pstatus     object
Medu         int64
Fedu         int64
Mjob        object
Fjob        object
reason      object
guardian    object
dtype: object

### Step 7. Print the last elements of the data set.

In [35]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [38]:
df['Mjob'] = df['Mjob'].astype('string')
df['Fjob'] = df['Fjob'].astype('string')

df['Mjob'] = df['Mjob'].apply(capitalizer)
df['Fjob'] = df['Fjob'].apply(capitalizer)

df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [39]:
def majority(df: pd.DataFrame) -> pd.DataFrame:
  df['legal_drinker'] = df['age'] > 17
  return df

In [41]:
df_slice = majority(df_slice)
df_slice

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,0 0 0 at_home\n1 at_home...,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,0 0 0 at_home\n1 at_home...,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,0 0 0 at_home\n1 at_home...,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,0 0 0 at_home\n1 at_home...,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,0 0 0 at_home\n1 at_home...,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,0 0 0 at_home\n1 at_home...,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,0 0 0 at_home\n1 at_home...,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,0 0 0 at_home\n1 at_home...,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,0 0 0 at_home\n1 at_home...,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,0 0 0 at_home\n1 at_home...,At_home,course,father,True

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [44]:
df_slice.select_dtypes(include='number').apply(lambda x: x * 10)

     age  Medu  Fedu
0    180    40    40
1    170    10    10
2    150    10    10
3    150    40    20
4    160    30    30
..   ...   ...   ...
390  200    20    20
391  170    30    10
392  210    10    10
393  180    30    20
394  190    10    10

[395 rows x 3 columns]

In [45]:
def times10(x):
    if type(x) is int:
        return 10 * x
    return x

df_slice.applymap(times10)

/tmp/ipython-input-2346494446.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_slice.applymap(times10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,0 0 0 at_home\n1 at_home...,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,0 0 0 at_home\n1 at_home...,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,0 0 0 at_home\n1 at_home...,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,0 0 0 at_home\n1 at_home...,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,0 0 0 at_home\n1 at_home...,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,0 0 0 at_home\n1 at_home...,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,0 0 0 at_home\n1 at_home...,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,0 0 0 at_home\n1 at_home...,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,0 0 0 at_home\n1 at_home...,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,0 0 0 at_home\n1 at_home...,At_home,course,father,True