# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [15]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [10]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [11]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [6]:
cars1 = cars1.dropna(axis=1, how='all')

### Step 5. What is the number of observations in each dataset?

In [9]:
len(cars1)
len(cars2)

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [17]:
cars = pd.concat([cars1, cars2])

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [16]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([25557, 35359, 43535, 38576, 69705, 18221, 30458, 16119, 52187,
       24132, 41777, 69892, 41563, 56980, 50348, 68805, 40747, 40512,
       15973, 59477, 50664, 16980, 37960, 34557, 34187, 22561, 35247,
       42753, 67911, 44458, 29443, 39443, 57999, 26575, 59145, 44611,
       69906, 58764, 40090, 23336, 67442, 69859, 21710, 39660, 37077,
       56163, 44902, 67059, 47797, 71635, 70778, 56032, 46833, 37361,
       62153, 37226, 66959, 71573, 15009, 29966, 27171, 43154, 36111,
       20027, 67573, 54804, 24124, 45395, 70801, 39447, 38466, 52463,
       65641, 71744, 33965, 53848, 54810, 29039, 44751, 23044, 42399,
       52265, 57709, 48408, 60163, 69675, 24861, 62563, 23682, 43252,
       40005, 68736, 16025, 67597, 36617, 69486, 18285, 64587, 21621,
       27099, 32604, 45724, 24728, 52389, 17641, 58480, 42918, 22070,
       37602, 31122, 41420, 33674, 68435, 53059, 18788, 41617, 44134,
       31334, 60842, 58971, 42661, 25009, 57535, 61193, 64363, 45617,
       26787, 25284, 32678, 20922, 56028, 60268, 49741, 52776, 70879,
       18361, 57740, 22802, 45041, 25431, 59084, 67725, 21762, 39766,
       39146, 54758, 54639, 17502, 44365, 68000, 34947, 24376, 48357,
       32846, 23982, 62765, 36687, 35322, 40924, 36000, 57715, 69838,
       68987, 24882, 65250, 44011, 46520, 59264, 30570, 34953, 45008,
       41227, 18852, 60672, 27292, 66453, 55447, 68205, 25432, 70309,
       35678, 32339, 58217, 28878, 50054, 20882, 44664, 67171, 41116,
       51954, 23249, 63483, 70668, 48637, 46531, 32675, 36059, 45852,
       18330, 28966, 53441, 49459, 61058, 61612, 26341, 36037, 65982,
       62051, 36555, 58535, 35727, 43528, 38553, 31205, 21967, 29078,
       15522, 34760, 31842, 33657, 30096, 29102, 37702, 52854, 67181,
       38757, 28637, 51893, 62010, 69138, 58634, 21107, 47967, 50172,
       33383, 67393, 43166, 46314, 50384, 49129, 37982, 19040, 62053,
       17851, 20735, 42170, 54906, 58104, 40471, 55124, 46907, 40118,
       56165, 17130, 35837, 50104, 51969, 18157, 68594, 52967, 40424,
       71056, 67014, 19373, 55873, 49495, 69375, 48465, 59188, 16291,
       39390, 18955, 63023, 49457, 64565, 72735, 35240, 36502, 27631,
       46076, 28623, 29541, 65040, 67221, 41999, 43587, 47523, 42084,
       60463, 35013, 36046, 49458, 67155, 69164, 64181, 35432, 37730,
       38054, 29745, 17261, 27736, 23833, 51568, 71167, 24742, 17576,
       41520, 29985, 45572, 32499, 30574, 24842, 45542, 42974, 29652,
       19498, 25722, 26779, 16692, 54769, 30549, 24972, 28799, 39159,
       35606, 66828, 70360, 20678, 30994, 46934, 20682, 46726, 68071,
       21435, 16380, 63257, 17188, 18495, 58433, 56148, 55428, 35117,
       29949, 59314, 24589, 63925, 54998, 61296, 20455, 27525, 46435,
       48761, 16042, 58793, 64533, 27781, 33507, 25424, 33060, 55064,
       55096, 39855, 58607, 44348, 35740, 57218, 41139, 47489, 39480,
       59476, 69944, 39564, 15484, 61982, 61042, 69492, 63245, 29936,
       33157, 46339, 24569, 20618, 40919, 31026, 69186, 40129, 38123,
       44405, 67225, 20024, 21820, 35723, 50227, 58058, 43367, 71492,
       58528, 51290])

### Step 8. Add the column owners to cars

In [19]:
cars['owners'] = nr_owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,25557
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,35359
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,43535
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,38576
4,17.0,8,302,140,3449,10.5,70,1,ford torino,69705
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,58058
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,43367
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,71492
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,58528
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,51290