# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [3]:
# first convert the item_price to a float
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [20]:
# next recover the product price by dividing by the quanity
chipo['product_price'] = chipo.item_price / chipo.quantity
# now filter for product price greater than 10 after removing duplicate item names & descriptions
filtered_chipo = chipo.drop_duplicates(['item_name','choice_description'])
filtered_chipo = filtered_chipo[filtered_chipo['product_price'] > 10]
filtered_chipo

,order_id,quantity,item_name,choice_description,item_price,product_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75,11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75,11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75,11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25

### Step 5. What is the price of each item?
###### print a data frame with only three columns item_name choice_description and product_price

In [21]:
filtered_chipo[['item_name','choice_description','product_price']].drop_duplicates()

,item_name,choice_description,product_price
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...
4593,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

### Step 6. Sort by the name of the item

In [25]:
filtered_chipo[['item_name','choice_description','product_price']].drop_duplicates().sort_values('item_name')

# or

filtered_chipo.sort_values('item_name')

# or

filtered_chipo.item_name.sort_values()

2749        Barbacoa Bowl
2762        Barbacoa Bowl
4046        Barbacoa Bowl
3547        Barbacoa Bowl
919         Barbacoa Bowl
              ...
496     Veggie Salad Bowl
186     Veggie Salad Bowl
4201    Veggie Salad Bowl
738     Veggie Soft Tacos
1699    Veggie Soft Tacos
Name: item_name, Length: 707, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [35]:
chipo[['item_name','quantity','item_price']].sort_values('item_price', ascending=False).head(1)['quantity']

# or

chipo.loc[chipo.item_price.idxmax()]['quantity']

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [36]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]

20